<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

	<nav th:fragment="paginator">
		<ul>
			<li>
				<span th:if="${page.first}">primera</span>
				<a th:href="${not page.first}" th:href="@{${page.url}{page=0}}">primera</a>
			</li>
			<li>
				<span th:if="${not page.hasPrevious}">anterior</span>
				<a th:href="${page.hasPrevious}" th:href="@{${page.url}{page=${page.paginaActual-2}}}">anterior</a>
			</li>
			<li></li>
			<li>
				<span th:if="${not page.hasNext}">siguiente</span>
				<a th:href="${page.hasNext}" th:href="@{${page.url}{page=${page.paginaActual}}}">siguiente</a>
			</li>
			<li>
				<span th:if="${page.last}">ultima</span>
				<a th:href="${not page.last}" th:href="@{${page.url}{page=${page.totalPaginas-1}}}">ultima</a>
			</li>
		</ul>
	</nav>

</body>
</html>